* {
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
}

/*LOGIN CREATE ACCOUNT LINK  */
.loginOut {
  text-decoration: none;
  width: 60%;
  font-size: 2rem;
  margin: 2%;
}

.loginOut:hover {
  background-color: #D5BF86;
  transform: scale(1.2);
  text-transform: lowercase; 
}

/* DASHBOARD SECTION */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* TITLE */
.main-container h1 {
  font-family: 'Offside', cursive;
  color: #3F0D12;
  border-bottom: 3px solid #3F0D12;
  border-top: 3px solid #3F0D12;
  font-size: 3.5rem;
  width: 30%;
  text-align: center;
}

/* NEW POST SECTION */
.newPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #3F0D12;
  border: 5px solid #8D775F;
}



/* POST FORM */
.postInputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: center;
  padding: 1%;
  margin: 2%;
  font-size: 3.5rem;
  border: 4px solid #8D775F;
  width: 40%;
  background-color: whitesmoke
}

/* USER POSTS */
.entries {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
  border: 5px solid #3F0D12;
  border-radius: 6px;
  width: 70%;
  margin: 2% auto;
  padding: 1%;
  font-size: 4rem;
}


.entries .post {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post .post-title {
  width: 80%;
  margin: 2%;

}

.post .post-date {
  width: 80%;
  margin: 2%;
}

.post .post-location {
  width: 80%;
  margin: 2%;
}

.post .post-description {
  width: 80%;
  margin: 2%;
}

.post .edit-post {
  width: 20%;
  padding: 2%;
  margin: 2%;

}

.img-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 60%;
  margin: 2%;
  
}

/* LOGIN/REGISTER STYLES */
.login {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-image: url('https://images.unsplash.com/photo-1452587925148-ce544e77e70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.login .mid-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: whitesmoke;
  font-size: 4rem;
  margin: 10%;
  border: 3px solid #3F0D12;
}

/* LOGIN/REGISTER TITLE */
.login h1 {
  font-family: 'Offside', cursive;
  color: #3F0D12;
  border-bottom: 3px solid #3F0D12;
  border-top: 3px solid #3F0D12;
  margin: 5%;
  width: 40%;
  font-size: 3.5rem;
}

.login label {
  margin: 3%;
}

/* LOGIN/SUBMIT BUTTON */
button {
  width: 20%;
  align-self: center;
  padding: 0.3%;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  background-color: #D5BF86;
  border: none;
  color: white;
  font-family: 'Offside', cursive;
  margin: 3%;
}

button:hover {
  background-color: #3F0D12 ;
}

button:disabled {
  cursor: default;
  background-color: rgb(199, 198, 198);
  color: gray;
}
  
/*LOGIN NEW USER /REGISTER OLD USER REDIRECT */
.createAccount,
.loginHere {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 3%;
}

.createAccount p,
.loginHere p{
  margin: 3%;
  padding: 1%;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: bold;
}

.createAccount a,
.loginHere a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 1%;
  padding: 1%;
  font-size: 1.2rem;
  text-decoration: none;
  color: #3F0D12;
  font-weight: bold;
  font-family: 'Offside', cursive;
  text-transform: uppercase; 
  width: 80%;

}


select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 8px),
      calc(100% - 15px) calc(1em + 8px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 2.5em;
    background-repeat: no-repeat;
  }

  select:focus {
    background-image: linear-gradient(45deg, gray 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, gray 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 25px, calc(100% - 20px) 25px,
      calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 2.5em;
    background-repeat: no-repeat;
    outline: 0;
  }