/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border: 1px solid grey; */
}

.entries {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  color: black;
  background-color: whitesmoke;
  border: 2px solid #3F0D12;
  border-radius: 6px;
  width: 60vw;
  margin: 0 auto;
}

/* NAV SECTION */
.nav img {
    width: 10%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
  /* padding: 10px;
  margin: 10px; */
  text-decoration: none;
  font-family: 'Offside', cursive;
  background-color: #D5BF86;
  
}

 .nav a {
  padding: 1%;
  text-align: center;
  text-decoration: none;
  color: #3F0D12;
}

.nav a:hover {
  border-bottom: 3px solid #f1f0cc;
  transform: scale(1.2);
}

/*LOGIN CREATE ACCOUNT LINK  */
.loginOut {
  text-decoration: none;
  width: 60%;
}

.loginOut:hover {
  background-color: #D5BF86;
  transform: scale(1.2);
  text-transform: lowercase; 
}


.newPost {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.postInputs {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 5px;
}

.img {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  padding: 8px;
}

h2 {
  text-align: center;
}

/* LOGIN/REGISTER FORM CONTAINER */
form {
  display: flex;
  border-top: 3px solid #8D775F;
  width: 80%;
  margin: 0 auto; 
}


/* LOGIN/REGISTER STYLES */
.login {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  width: 100%;
}

/* LOGIN/REGISTER TITLE */
.login h1 {
  font-family: 'Offside', cursive;
  color: #3F0D12;
  border-bottom: 3px solid #3F0D12;
  border-top: 3px solid #3F0D12;
  margin: 3%;
  width: 20%;
}

/* LOGIN/SUBMIT BUTTON */
button {
  width: 10%;
  align-self: center;
  padding: 0.3%;
  border-radius: 7px;
  margin-top: 1%;
  cursor: pointer;
  outline: none;
  background-color: #D5BF86;
  border: none;
  color: white;
  font-family: 'Offside', cursive;
}

button:hover {
  background-color: #3F0D12 ;
}

button:disabled {
  cursor: default;
  background-color: rgb(199, 198, 198);
  color: gray;
}
  
/*LOGIN NEW USER /REGISTER OLD USER REDIRECT */
.createAccount,
.loginHere {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.createAccount p,
.loginHere p{
  margin: 1%;
  padding: 1%;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: bold;
}

.createAccount a,
.loginHere a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 1%;
  padding: 1%;
  font-size: 1.2rem;
  text-decoration: none;
  color: #3F0D12;
  font-weight: bold;
  font-family: 'Offside', cursive;
  text-transform: uppercase; 
  width: 80%;

}


select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 8px),
      calc(100% - 15px) calc(1em + 8px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 2.5em;
    background-repeat: no-repeat;
  }

  select:focus {
    background-image: linear-gradient(45deg, gray 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, gray 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 25px, calc(100% - 20px) 25px,
      calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 2.5em;
    background-repeat: no-repeat;
    outline: 0;
  }

  