* {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-decoration: none;
}

.entries {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  color: black;
  background-color: whitesmoke;
  border: 2px solid #3F0D12;
  border-radius: 6px;
  width: 60vw;
  margin: 0 auto;
}

.logo {
    width: 50%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  font-family: 'Offside', cursive;

  color: #3F0D12;
}

.loginOut {
  text-decoration: none;
}

.loginOut:hover {
  border-bottom: 3px solid #f1f0cc;
  
}

.nav a {
  text-decoration: none;
  color: #3F0D12;
}

.nav a:hover {
  border-bottom: 3px solid #f1f0cc;
  text-decoration: none;
}



.newPost {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
}


.postInputs {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 5px;
}

.div {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

.img {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  padding: 8px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  width: 30%;
  margin: 0 auto; 
}


/* LOGIN/REGISTER STYLES */
.login {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 10%;
}

.logButton {
  width: 40%;
}

button {
    width: 10%;
    align-self: center;
    padding: 0.3%;
    border-radius: 7px;
    margin-top: 1%;
    cursor: pointer;
    outline: none;
    background-color: rgba(212, 177, 81, 0.829);
    border: none;
    color: white;
  }

button:hover {
    background-color: #3F0D12 ;
    }

button:disabled {
      cursor: default;
      background-color: rgb(199, 198, 198);
      color: gray;
    }
  
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 8px),
      calc(100% - 15px) calc(1em + 8px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 2.5em;
    background-repeat: no-repeat;
  }

  select:focus {
    background-image: linear-gradient(45deg, gray 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, gray 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 25px, calc(100% - 20px) 25px,
      calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 2.5em;
    background-repeat: no-repeat;
    outline: 0;
  }

  